.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, .55);
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;

  &.show {
    opacity: 1;
    visibility: visible;

    .modal__content {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    @include absCenter;
    width: 70vw;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0 2rem 4rem rgba($black, .2);
    border-right: 3px;
    opacity: 0;
    transform: translate(-30%, -50%);
    backface-visibility: hidden;
    transition: all .4s cubic-bezier(0.25, 0.5, 0.5, 0.9);

    @include media-breakpoint-down(md) {
      width: 90vw;
    }

    .heading-grad {
      font-size: 3.4rem;
      line-height: 1;

      @include media-breakpoint-down(sm) {
        font-size: 2.7rem;
      }
    }
  }

  &__btn {
    &-close {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        color: $black;
      }
    }
  }
}
