#projects {
    .project-item {
        border: $primary 1px solid;
        border-radius: 16px;
        margin: 30px 0;
        padding: 20px;
        padding-bottom: 50px;
        overflow: hidden;
        position: relative;

        .tag {
            font-family: 'League Spartan';
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            font-size: 103px;
            font-weight: 900;
            color: #eaeaea;
            z-index: -1;
        }
    }

    .project-tech {
        background-color: $primary;
        color: #fff;
        margin: -20px;
        margin-top: 0;
        padding-top: 5px;
        padding-left: 20px;
        position: absolute;
        bottom: 10px;
        width: 100%;

        p,
        ul,
        li {
            display: inline-block;
        }

        li {
            &:after {
                content: ',\2002';
            }

            &:last-child:after {
                content: '.';
            }
        }
    }
}