.section-title {
  text-align: center;
  font-size: 34px;
  line-height: 31px;
  font-weight: bold;
  // letter-spacing: 0.1em;
  text-transform: uppercase;

  &+.divider {
    margin: 0 auto;
    margin-bottom: 45px;
    background-color: $primary;
    height: 7px;
    width: 50px;
    border-radius: 100px;
    position: relative;

    &:after,
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      background-color: $secondary;
      height: 7px;
      width: 7px;
      border-radius: 100px;
    }

    &:after {
      right: -15px;
    }

    &:before {
      left: -15px;
    }
  }
}
