$blue: #58c0f5;
$purple:#8860D0;
$yellow: #FFD259;
$white: #fff;
$black: #000;


$primary: $blue;
$secondary: #FF7E59;

$main-gradient: linear-gradient(to right, #517BE4, #6BCEEF);
$title-gradient: linear-gradient(to right bottom, #6BCEEF, #517BE4);

$shadow-dark: $black;

$body-color: $white;

$card-border-radius: 15px;
