$blue: #58c0f5;
$purple: #8860d0;
$yellow: #ffd259;
$white: #fff;
$black: #000;

$primary: $blue;
// $secondary: #ff7e59;
$secondary: #ff6021;

$main-gradient: linear-gradient(to right, #517be4, #6bceef);
$title-gradient: linear-gradient(to right bottom, #6bceef, #517be4);

$shadow-dark: $black;

$body-color: $white;

$card-border-radius: 15px;
